USE [Idap]
GO
/****** Object:  Table [norm2_ops].[MAXDSProfileTestCases]    Script Date: 4/25/2022 5:02:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [norm2_ops].[MAXDSProfileTestCases](
	[COMPANY_NAME] [varchar](255) NULL,
	[TERM_NAME] [varchar](255) NULL,
	[EXPECTED_VALUE] [varchar](255) NULL,
	[ACTUAL_VALUE] [varchar](255) NULL,
	[TEST_STATUS] [varchar](255) NULL,
	[LAST_RUN] [varchar](255) NULL,
	[COMMENTS] [varchar](50) NOT NULL,
	[YEAR] [nchar](10) NULL,
	[EXPRESSION_NAME] [nchar](255) NULL,
 CONSTRAINT [profile_pk] UNIQUE NONCLUSTERED 
(
	[COMPANY_NAME] ASC,
	[TERM_NAME] ASC,
	[YEAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
