USE [Idap]
GO
/****** Object:  Table [norm2_ops].[MAXDFeedBack]    Script Date: 4/25/2022 5:02:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [norm2_ops].[MAXDFeedBack](
	[FEEDBACKID] [int] IDENTITY(1,1) NOT NULL,
	[ISSUETYPE] [varchar](255) NULL,
	[CATEGORY] [varchar](255) NULL,
	[NAME] [varchar](255) NULL,
	[EMAIL] [varchar](255) NULL,
	[PHONE] [varchar](255) NULL,
	[MESSAGE] [varchar](255) NULL,
	[USERID] [varchar](50) NOT NULL,
	[dtCreated] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[FEEDBACKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
