


.column1 {
    float: left;
    width: 30%;
    text-align: right;
    padding: 10px
}
.column2 {
  float: right;
  width: 70%;
  text-align: left;
  padding: 10px
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
input.customcheckbox{
  width: 20px !important;
  height: 20px !important;
}

.rotate{
  /* writing-mode: vertical-rl; */
  font-size: small;
  overflow: auto!important;
  word-wrap: break-word;
  text-overflow: ellipsis !important;
  white-space: normal !important;
  text-align: center !important;
  vertical-align: middle !important;
  -ms-transform: rotate(300deg);
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
}
th.row-header {
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
}
.column1 {
  float: left;
  width: 30%;
  text-align: right;
  padding: 10px
}
.column2 {
float: right;
width: 70%;
text-align: left;
padding: 10px
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.expcolumn {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; 
}
* {
  box-sizing: border-box;
}


/* Create three equal columns that floats next to each other */
.exprcolumn {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 50%; 
}

::ng-deep .ui-tree-container {
  color: blue;
}

::ng-deep .pi-arrow-right::before {
   content: "\F067";
}

::ng-deep .pi-arrow-down::before {
   content: "\F068";
}
.conceptcolumn {
  float: left;
  width: 45%;
  text-align: left;
  padding: 10px
}
.conceptcolumn1 {
  float: left;
  width: 10%;
  text-align: left;
  padding: 10px
}
.conceptcolumn2 {
  float: left;
  width: 5%;
  text-align: left;
  padding: 10px
}
.conceptcolumn3 {
  float: left;
 
  text-align: left;
  padding: 5px
}

::ng-deep p-dialog .ui-dialog {
  overflow: scroll;
  max-height: 100%;
}

.well.selectionCount {
  background: #843534;
  color:white;
}

.admin-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  
}

.admin-card-header {
	background-color: #d3d2d899;
    border-radius: 5px 5px 0px 0px;
    padding: 5px 0px;
}

.admin-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.admin-card-container {
  padding: 2px 16px;
}