input.customcheckbox{
    width: 20px !important;
    height: 20px !important;
    margin: -9px 0px 31px 5px;
  }

  .text-align-right {
    text-align: right !important;
  }

  .display-none {
    display: none;
  }


  